Package: hu.soska.weather
Name: SoskaWeather
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Adds weather info to Lock Screen.
Maintainer: Soós Ádám
Author: Soós Ádám
Section: Tweaks
Version: 1.0.0
Installed-Size: 136
