Package: com.yourcompany.soskaweather
Name: SoskaWeather
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Soós Ádám
Author: Soós Ádám
Section: Tweaks
Version: 0.0.1-22
Installed-Size: 136
