Package: com.yourcompany.soskaweather
Name: SoskaWeather
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Soós Ádám
Author: Soós Ádám
Section: Tweaks
